// Variables SCSS
$primary-color: rgb(23, 8, 115);
$secondary-color: #1B1B1B;
$text-light: rgb(244, 244, 244);
$text-dark: rgb(0, 0, 0);
$background-light: rgb(244, 244, 244);
$gold: #D4AF37;
$font-family: "Montserrat", sans-serif;

// Spacing
$spacing-xs: 0.5rem;
$spacing-sm: 1rem;
$spacing-md: 1.5rem;
$spacing-lg: 2rem;
$spacing-xl: 3rem;

// Breakpoints
$breakpoint-mobile: 768px;
