@use '_variables' as *;

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

main {
  margin-bottom: 20px;
}

p {
  color: $text-dark;
}

body {
  background-color: $background-light;
  font-family: $font-family;
}
